html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    background-color: #f4f4f4;
    color: #717171;
}

header, footer {
    display: flex;
    padding: 1.2rem 1rem 1.5rem 0;
    background-color: #00326F;
    justify-content: space-between;
}

footer {
    justify-content: space-around;
}

header nav {
    margin-top: 0.5em; 
}

footer nav {
    margin-top: 2em; 
}

nav a {
    color: #f4f4f4;
    font-weight: 700;
    text-decoration: none;
    margin: 0 1em 0 1em;
}

a:hover {
    border-bottom: 2px solid #f4f4f4;
}

#hero {
    margin-top: 6rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: space-evenly;
    
}

.hero-message {
    flex-basis: 35rem;    
}

.hero-image {
    flex-basis: auto;
}


#hero p {
    font-size: 120%;
    line-height: 1.5rem;
    text-shadow: rgba(0,0,0,0.1);
}

#hero h1 {
    font-size: 200%;
    font-weight: 100;
    color: rgba(0,50,111, 0.8);
}

.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 5em 1em 5em 1em;
}

.grid-items {
    margin: 0 1em 0 1em;
    padding: 1em;
    border-radius: .7rem;
    box-shadow: 0 0 12px 0 rgba(28,28,29,.4);
}

.grid-items h3 {
    margin-top: 0em;
    color:    rgba(0,50,111, 0.8);
    line-height: 1em;
    text-align: center;
}

.banner-container {
    display: grid;
    grid-column-gap: 8em;
    padding: 2em 4em 2em 4em;
    grid-template-columns: 50% 50%;
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    color: #F4F4F4;
}

.banner-item {
    font-weight: 100;
    line-height: 0.4em;
}

.banner-item ul {
    margin-top: 2em;
}

.banner-item-up-left {
    grid-column: 1 / 2;
    grid-row: 1;
    text-align: left;
}

.banner-item-bottom-left {
    grid-column: 1 / 2;
    grid-row: 2;
    text-align: right;
}

.banner-item-right {
    grid-column: 2;
    grid-row: 1 / 2;
}